@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7c2c2;
}

.logo__texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Yatra One", system-ui;
}

.logo__texto__texto{
    font-size: 2,5rem;
}


h1 {
    position: absolute;
    left: 300px;
    text-align: center;
    color: #5D001E;
    font-size: 3rem;
}

.button__links{
    display: flex;
    justify-content:start;
    gap: 30px;
    padding: 80px 25px

    
}

.button button, .Whatsapp button  {
    background-color: #5D001E;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.button button, .Instagram button {
    background-color: #5D001E;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.button button:hover, .Instagram button:hover {
    background-color: #004494;
    transform: scale(1.05);
}

.button button:active, .Instagram button:active {
    background-color: #004494;
    transform: scale(0.98);
}

.button button:hover, .Whatsapp button:hover {
    background-color: #004494;
    transform: scale(1.05);
}

.button button:active, .Whatsapp button:active {
    background-color: #004494;
    transform: scale(0.98);
}


p {
    font-family: "Dancing Script", cursive;
    color: #5D001E;
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    left: 600px;
    bottom: 300px;
}
/* Estilos responsivos */
@media screen and (max-width: 1024px) {
    h1 {
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.5rem;
    }
    
    p {
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8rem;
        bottom: 250px;
    }
    
    .button__links {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        top: 50px;
    }

    
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    
    p {
        font-size: 1.5rem;
        bottom: 200px;
    }
    
    .button__links {
        flex-direction: column;
        align-items: center;
        top: 50px;
    }
    
    .logo__texto__texto {
        font-size: 2rem;
    }
}
/*galaxy A33*/
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    p {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        left: 53%;
        transform: translateX(-50%);
        bottom: 50px;
    }
    
    .button__links {
        flex-direction: column;
        align-items: center;
        top: 50px;
    }
    
    .logo__texto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .logo__texto__texto {
        font-size: 1.5rem;
    }
}


